.blok1 {
  height: 100%;
  background-image: url(../../../assets/img/9.jpg);
  background-position: center center;
  background-size: cover;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: black;
  background-color: #e8e8e8;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.navbar-default .navbar-nav > li > a {
  color: #b90504;
  font-weight: 600;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #b90504;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #b90504;
}

#home, #contact {
  padding: 80px 25px;
  background: url('../../../assets/img/4.jpg');
  background-position: 50% 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  text-align: center;
}

.page-view {
  min-height: 80vh;
}

.page-view h4 {
  font-size: 1.6em;
  margin-left: 10px;
}

.page-view h4 > i {
  vertical-align: middle;
}

.page-view h5 {
  font-size: 1.2em;
}

.page-view a {
  color: #b90504;
}

#about, #skills, #services, #portfolio {
  padding-top: 50px;
}

#portfolio {
  padding-bottom: 50px;
}

h1.title {
  padding-top: 1.8em;
  font-size: 4em;
  font-family: Raleway, sans-serif;
}

.title {
  font-family: Raleway, sans-serif;
}

.large-font {
  font-size: 1.2em;
}

.page-title {
  font-size: 2.6em;
  font-family: Raleway, sans-serif;
}

.portfolio-title {
  font-family: Raleway, sans-serif;
  font-size: 2em;
  color: #b90504;
  padding-top: 30px;
  padding-bottom: 10px;
}

.red {
  color: #b90504;
}

.container-fluid {
  padding-top: 90px;
}

#services ul, #skills ul {
  width: auto;
  display: inline-block;
}

#services ul > li, #skills ul > li {
  text-align: left;
}

.fa-pencil, .fa-cogs, .fa-code, .fa-cubes, .fa-dashboard, .fa-certificate, .fa-flask {
  font-size: 2.5em;
  color: black;
}

.fa-envelope:hover, .fa-facebook:hover, .fa-github:hover, .fa-google-plus:hover, .fa-linkedin:hover, .fa-twitter:hover {
  color: #777;
}

.fa-stack {
  color: black;
  font-size: 2em;
}

.bg-grey {
  color: #333;
}

.container-fluid {
  padding: 60px 50px;
}

/* Tablets */

@media (max-width: 992px) {
  .navbar ul li a {
    font-size: .9em;
    padding-left: 0;
  }
}

/* Portrait phones and smaller */

@media (max-width: 480px) {
  .navbar ul li a {
    font-size: .9em;
    padding-left: 0;
  }

  .navbar-brand > img {
    height: auto;
    padding: 7px 15px;
    width: 200px;
  }

  #home, #contact {
    padding: 80px 25px;
    background: url('../../../assets/img/9.jpg');
    background-position: 60% 50%;
    background-position-x: 60%;
    background-position-y: 50%;
    background-size: cover;
    text-align: center;
  }

  h1.title {
    font-size: 1.8em;
    padding-top: 1.6em;
  }

  h3.title {
    font-size: 1.2em;
  }

  .container-fluid {
    padding-top: 80px;
  }

  .fa-stack {
    font-size: 1.3em;
  }
}
