<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="well-block">
        <div class="well-title">
          <h2>Enregistrement</h2>
        </div>
        <form #f="ngForm" [formGroup]="form" (ngSubmit)="onTrajet()">
          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Intitulé de votre trajet</label>
                <input class="form-control input-md"
                       type="text"
                       name="libelleTrajet"
                       placeholder="Intitulé"
                       #libelleTrajet
                       formControlName="libelleTrajet"
                       required minlength="4">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">ville de départ</label>
                <input type="text"
                       placeholder="Search for Location"
                       autocorrect="off"
                       autocapitalize="off"
                       spellcheck="off"
                       class="form-control"
                       #lieuDepart
                       formControlName="lieuDepart"
                       required>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date de départ</label>
                <input class="form-control input-md"
                       type="date"
                       placeholder="Date de départ"
                       name="dateDepart"
                       #dateDepart
                       formControlName="dateDepart"
                       required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Pays d'arrivée</label>
                <input type="text"
                       placeholder="Search for Location"
                       autocorrect="off"
                       autocapitalize="off"
                       spellcheck="off"
                       class="form-control"
                       #lieuArriver
                       formControlName="lieuArriver"
                       required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date d'arrivé</label>
                <input class="form-control input-md"
                       type="date"
                       placeholder="Date d'arrivé"
                       name="dateArriver"
                       #dateArriver
                       formControlName="dateArriver"
                       required>
                <span class="help-block" *ngIf="dateArriver.value < dateDepart.value"> la date d'arrivé doit être superieur celle de départ</span>
              </div>
            </div>


            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">kilogrammes</label>
                <select id="poidColisId"
                        name="poidColis"
                        class="form-control"
                        formControlName="poidColis"
                        required>
                  <option value="0">0</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                  <option value="60">60</option>
                  <option value="70">70</option>
                  <option value="80">80</option>
                  <option value="90">90</option>
                  <option value="100">100</option>
                  <option value="110">110</option>
                  <option value="120">120</option>
                  <option value="130">130</option>
                  <option value="140">140</option>
                  <option value="150">150</option>
                </select>
              </div>
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <button type="submit"
                        name="singlebutton"
                        class="btn btn-primary" [disabled]="!f.valid">Valider
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="col-md-6">
      <div class="well-block">
        <div class="well-title">
        </div>
        <div class="feature-block">
          <div class="feature feature-blurb-text">
            <h4 class="feature-title">Info pratique</h4>
            <div class="feature-content">
              <p>Iokokok.</p>
            </div>
          </div>
          <div class="feature feature-blurb-text">
            <h4 class="feature-title">OKOExperienced Staff Available</h4>
            <div class="feature-content">
              <p>ookok</p>
            </div>
          </div>
          <div class="feature feature-blurb-text">
            <h4 class="feature-title">okok</h4>
            <div class="feature-content">
              <p>Pokoko</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
