<!-- /.row -->
<div class="row">
  <div class="row">
    <section class="section_0">
      <div class="col-sm-3">
        <div class="circle circle1">
          <a href="#section_1">
            <h2>{{ (trajetResults$ | async)?.length }}<p>Trajets publiés</p></h2>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="circle circle2">
          <a href="#section_2">
            <h2>2<p>Messages non lues</p></h2>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="circle circle3">
          <a href="#section_3">
            <h2>3<p>Avis recu</p></h2>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <!-- /.panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>
<!-- /.row -->
